.access_btn {
    background: #e50914;
    font-family: 'Oxygen';
    color: #fff;
    width: 100%;
    border: 1px solid #e50914;
}

.access_btn:hover {
    background: #fff;
    color: #e50914;
}

label {
    color: #e50914;
    font-family: 'Oxygen';
}

.access_error_msg {
    color: #e50914;
}