.header_main {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: block;
    background: #e50914;
    color: #fff;
    font-family: "Oxygen";

    .header_logo {
        width: 30%;
        padding: 3% 0% 3% 5%;
        overflow: hidden;
        height: auto;
        display: block;
        font-size: 2.5em;
    }
}