.dasboard_main {
    width: 100%;
    height: auto;
    display: block;
    overflow: scroll;
    max-height: 100vh;

    .welcome_user {
        width: 75%;
        overflow: hidden;
        height: auto;
        display: block;
        margin: 0 auto;
        color: #e50914;
        font-family: "Oxygen";
        font-size: 2.5em;
        padding: 3% 0%;
    }
}