.footer_main {
    width: 100%;
    overflow: hidden;
    height: auto;
    display: block;
    background: #e50914;

    .footer_info {
        color: #fff;
        width: 20%;
        height: auto;
        display: block;
        padding: 3% 0% 3% 5%;
        font-size: 1.5em;
    }
}