.login_main {
    width: 100%;
    overflow: hidden;
    display: block;
    height: auto;

    .login_form_main {
        width: 50%;
        margin: 0 auto;
        overflow: hidden;
        height: auto;
        display: block;
        padding: 8% 0% 0% 0%;
    }
}