@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Oxygen');

body {
    margin: 0px;
    color: rgb(223, 211, 196);
}

.test {
    color: blue;

    .tester {
        color: green;
    }
}